.container {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ececec;
}

.content {
  max-width: 500px;
  margin: 50px auto;
}

.header {
  margin: 50px;
  font-size: 30px;
}

.buttons {
  background-color: rgb(51, 51, 51);
  color: #fff;
}
