.topBar {
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #f3f3f3;
  margin: -1px;
}

/* .content {
  padding: 15px;
  border: 1px solid #f3f3f3;
  margin: -1px 0;
} */

.arrowUp {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid black;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}

.arrowDown {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid black;
}

.showButton {
  /* padding: 0px 10px; */
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  padding-left: 10px;
}

.titleWrapper {
  display: flex;
  cursor: pointer;
  width: 100%;
}

.object {
  border: 1px solid #f3f3f3;
  margin: -1px;
}

/* test */

.buttonsWrapper {
  display: flex;
  align-items: center;
}

.badge {
  margin-left: 10px;
}

.addButton {
  display: flex;
  margin-left: 10px;
  font-size: 18px;
  cursor: pointer;
}
