.container {
  display: flex;
  min-height: 100%;
}

.content {
  background-color: #222f4d;
  color: #dadfea;
  min-width: 200px;
}

.link {
  color: #b4b6c4;
  padding: 10px 20px;
  display: block;
  text-decoration: none !important;
}

.link:hover {
  color: #e0e3f4 !important;
  background-color: #1b2848;
  cursor: pointer;
}

.active {
  color: #e0e3f4 !important;
  /* font-weight: 600; */
  background-color: #1b2848;
}

.title {
  font-size: 22px;
  padding: 20px;
}
